<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.zkovari.eclipse.gitlab.ui.preferences.GitLabPreferencePage"
            id="org.zkovari.eclipse.gitlab.ui.preferences.GitLabPreferencePage"
            name="GitLab">
      </page>
      <page
            category="org.zkovari.eclipse.gitlab.ui.preferences.GitLabPreferencePage"
            class="org.zkovari.eclipse.gitlab.ui.preferences.GitLabApiTokenPreferencePage"
            id="org.zkovari.eclipse.gitlab.ui.preferences.GitLabApiTokenPreferencePage"
            name="API Token">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.zkovari.eclipse.gitlab.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>


</plugin>
